.new-product {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin-bottom: 3.44em;
        padding-left: 2.125em;
        padding-right: 2.125em;
    }

    &__title {
        margin-bottom: 0.625em;
    }

    &__subtitle {
        margin-bottom: 0.625em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form {
        margin-bottom: 3.44em;
    }

    &__separator {
        @include separatorStyles;
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -1.06em;
        margin-right: -1.06em;
    }

    &__cansel,
    &__save {
        margin-left: 1.06em;
        margin-right: 1.06em;
    }

    &__save {
        min-width: 10.875em;
        height: 4em;
    }
}

.new-product-title {
    &__text {
        font-size: $fz_20;
        letter-spacing: 0.6px;
        color: $accent;
    }
}

.new-product-subtitle {
    &__text {
        font-size: $fz_14;
        color: $midgray;
    }

    &__link {
        color: $accent;
        text-decoration: underline;
    }
}

.new-product-cansel {
    &__text {
        color: $accent;
        font-size: $fz_20;
        line-height: 1.1;
        letter-spacing: 0.6px;
    }
}
