.categories {
    &__top {
        margin-bottom: 3.44em;
        padding-left: 2.125em;
        padding-right: 2.125em;
    }

    &__list {
        margin-left: -0.65em;
        margin-right: -0.65em;
        margin-bottom: -1.375em;
    }

    &__separator {
        @include separatorStyles;
    }

    &__admin {
        margin-bottom: 3.44em;
    }
}

.categories-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: 50%;
        padding-left: 0.65em;
        padding-right: 0.65em;
        margin-bottom: 1.375em;
    }
}

.categories-admin {
    &__btn {
        margin-bottom: 0.81em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
