.app {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  background-color: #F5F6F8;
}
@media (min-width: 1921px) {
  .app {
    font-size: 0.8328995315vw;
  }
}
@media (max-width: 577px) {
  .app {
    font-size: 2.7729636049vw;
  }
}
.app__layout {
  max-width: 64em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.app__main {
  flex-grow: 1;
  padding: 10.31em 2.125em 3.44em;
}
.app__header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99;
}
@media (min-width: 1025px) {
  .app__header {
    max-width: 64em;
  }
}
