.contacts {
    &__top {
        margin-bottom: 3.44em;
        padding-left: 2.125em;
        padding-right: 2.125em;
    }

    &__title {
        margin-bottom: 0.625em;
    }

    &__subtitle {
        margin-bottom: 0.625em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__separator {
        @include separatorStyles;
    }

    &__block {
        border-radius: 2.125em;
        background-color: $white;
        padding: 0.81em;
        margin-bottom: 3.43em;
    }

    &__item {
        margin-bottom: 0.81em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        height: 4em;
        min-width: 12.93em;
        margin-left: auto;
        margin-right: auto;
    }
}

.contacts-title {
    &__text {
        font-size: $fz_20;
        letter-spacing: 0.6px;
        color: $accent;
    }
}

.contacts-subtitle {
    &__text {
        font-size: $fz_14;
        color: $midgray;
    }
}

.contacts-item {
    $self: &;
    display: flex;
    align-items: center;

    &__icon {
        width: 2.625em;
        height: 2.625em;
        margin-right: 0.81em;
    }

    &__text {
        transition: .3s;
        font-size: $fz_20;
        letter-spacing: 0.6px;
        color: $dark;
    }

    &:hover {
        .contacts-item-icon {
            background-color: $background;
        }
    }

    &:active {
        .contacts-item-icon {
            background-color: $background;
        }

        #{$self}__text {
            color: $accent;
        }
    }
}

.contacts-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .3s;

    &__img {
        width: 1.5em;
        height: 1.5em;
    }
}
