.new-category {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin-bottom: 3.44em;
        padding-left: 2.125em;
        padding-right: 2.125em;
    }

    &__title {
        margin-bottom: 0.625em;
    }

    &__subtitle {
        margin-bottom: 0.625em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__separator {
        @include separatorStyles;
    }
}

.new-category-title {
    &__text {
        font-size: $fz_20;
        letter-spacing: 0.6px;
        color: $accent;
    }
}

.new-category-subtitle {
    &__text {
        font-size: $fz_14;
        color: $midgray;
    }
}
