@import './helpers/variables';

.app {
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    background-color: $background;

    @media (min-width: 1921px) {
        font-size: calc(16 / 1921 * 100vw);
    }
    @media (max-width: 577px) {
        font-size: calc(16 / 577 * 100vw);
    }

    &__layout {
        max-width: 64em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }

    &__main {
        flex-grow: 1;
        padding: 10.31em 2.125em 3.44em;
    }

    &__header {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 99;

        @media (min-width: 1025px) {
            max-width: 64em;
        }
    }
}
