.indicators-info {
    background-color: $white;
    border-radius: 2.125em;
    padding: 1.31em 2.125em;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 1.31em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.indicators-info-item {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 0.5em;
    }

    &__descr {
        font-size: $fz_14;
        color: $midgray;
    }
}

.indicators-info-item-title {
    display: flex;
    align-items: center;

    &__image {
        width: 1.5em;
        height: 1.5em;
    }

    &__name {
        font-size: $fz_14;
        font-weight: 700;
        padding-left: 0.5em;
        color: $dark;
    }
}

.indicators-info-item-title-image {
    display: block;

    &__img {
        width: 100%;
    }
}
