.offer-form {
    $self: &;
    border-radius: 2.125em;
    padding: 0.81em;
    background-color: $white;

    &__block {
        margin-bottom: 1.31em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__field {
        display: flex;
        background-color: $background;
        border-radius: 1.31em;
        overflow: hidden;

        &--comment {
            height: 9.5em;

            #{$self}__input {
                resize: none;
            }
        }

        &--place {
            align-items: center;
            justify-content: space-between;
            padding: 1.31em;

            #{$self}__input {
                pointer-events: none;
                padding: 0;
            }
        }
    }

    &__input {
        color: $dark;
        font-size: $fz_20;
        letter-spacing: 0.6px;
        background-color: transparent;
        width: 100%;
        padding: 1.05em;
    }

    &__checkbox {
        margin-bottom: 1.31em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.offer-form-btn {
    background-color: transparent;

    &__text {
        color: $accent;
        font-size: $fz_14;
        white-space: nowrap;
    }
}
