$background: #F5F6F8;

$accent: #2977B5;
$accent_light: #5492C4;
$accent_dark: #215F91;

$frame: #E0E9F1;
$frame-light: #E6EDF4;
$frame-dark: #B3BAC1;

$midgray: #737373;
$dark: #333333;
$white: #FFF;
$lightgray: #EBEBEB;


$fz_12: 0.75em;
$fz_14: 0.875em;
$fz_16: 1em;
$fz_18: 1.125em;
$fz_20: 1.25em;
$fz_24: 1.5em;
$fz_32: 2em;
$fz_36: 2.25em;
