.feedback {
    &__top {
        margin-bottom: 3.44em;
        padding-left: 2.125em;
        padding-right: 2.125em;
    }

    &__title {
        margin-bottom: 0.625em;
    }

    &__subtitle {
        margin-bottom: 0.625em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__separator {
        @include separatorStyles;
    }

    &__btn {
        height: 4em;
        min-width: 12.93em;
        margin-left: auto;
        margin-right: auto;
    }
}

.feedback-title {
    &__text {
        font-size: $fz_20;
        letter-spacing: 0.6px;
        color: $accent;
    }
}

.feedback-subtitle {
    &__text {
        font-size: $fz_14;
        color: $midgray;
    }
}
